@import "../simple-sass-grid"

body
  font-size: 62.5%

.container
  width: 96em
  margin-left: auto
  margin-right: auto
@media (max-width: 65em)
  .container
    width: auto
    margin-left: 2rem
    margin-right: 2rem

.grid
  +simple-sass-grid(2rem)

.grid-compact
  +simple-sass-grid(0.4rem)
  @media (max-width: 50em)
    [class^="col"]
      width: 50%

.module
  display: block
  padding: 1rem
  background-color: lightBlue

p
  display: block
  font-size: 2rem
  font-family: monospace
  padding: 0
  margin: 0
  text-align: center